@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Balsamiq Sans', cursive;
}
body{
    background-color: rgb(247, 247, 247);
}
/*---------------------MiLibreria-------------------------*/
.linked{
    color:#2B78E4;
    font-weight: bold;
    text-decoration: underline;
    cursor:pointer;
}
button{
    background-color: #9FC5F8;
    box-shadow: 2px 2px black;
    padding: 5px 25px;
    border: 2px solid black;
    font-size: 15px;
    cursor:pointer;
}
/*---------------------HEADER-------------------------*/
.topBar{
    background: #9FC5F8;
    color:white;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:20px 10%;
}
.topBar h1{
    font-size: 50px;
}
.topBar ul{
    display: flex;
    justify-content: space-around;
}
.topBar li{
    list-style: none;
    font-size: 25px;
    margin: 0 15px;
    cursor:pointer;
}
/*------------------------NAV--------------------------*/
.topNav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:20px;
    border-bottom: 2px solid rgb(46, 46, 46);
    padding: 0 15%;
}
.topNav div{
    display:flex;
    align-items: center;
}
.topNav h2{
    font-size: 35px;
}
.topNav p, .topNav select{
    padding: 5px;
}
/*-----------------------MAIN--------------------------*/
.showTemperatures{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0 15%;
    
}
.weatherCard{
    display:flex;
    flex-direction: column;
    align-items: center;
    background: #EEEEEE;
    padding:1%;
    margin:1%;
}
.weatherCard h3{
    font-size: 25px;
}
.weatherCard img{
    padding: 5px;
    border-radius: 50%;
    background: white;
    margin: 10px;
    height: 100px;
}
.temperInCard{
    display:flex;
    justify-content: space-between;
    width: 100%;
}
.temMax, .temMin, .weatherCard p, .weatherCard h3{
    padding:5px;
    margin:5px;
}
.temMax{
    color:red;
}
.temMin{
    color:blue;
}
/*----------------------FOOTER-------------------------*/
.cookiesDiv{
    border:2px solid black;
    margin:5% 15% 0;
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;
    position: fixed;
    bottom:0;
    
}
.cookiesDiv img{
    width: 50px;
    margin: 30px;
}
.cookiesText{
    margin: 10px;
}
.acceptCookies{
    margin:10px;
    width: 30%;
}

@media screen and (max-width:640px) {
    .topBar{
        flex-direction: column;
    }
    .topNav{
        padding: 0 5%;
    }
    .topNav h2{
        font-size: 25px;
    }
    .topNav p{
        font-size: 15px;
    }
    .topNav select{
        padding: 1px;
    }
    .showTemperatures{
        flex-wrap: wrap;
        padding: 0 5%;
    }
}

@media screen and (max-width:330px) {
    .topBar h1{
        font-size: 30px;
    }
    .topBar li{
        font-size: 15px;
    }
}